__pycache__
flaskblog/__pycache__
.vscode
2020-107
cohesion.py
try_outs
New folder
myflaskapp.zip
GoogleNews-vectors-negative300.magnitude
flaskblog/static/audio
flaskblog/static/data
flaskblog/static/
flask.zip