{% extends 'layout.html' %} {% block content %} {% if quiz.createquiz ==
current_user %}
<div class="col-md-13 text-md-right">
  <a
    type="button"
    class="btn btn-outline-info btn-sm"
    href="{{ url_for('quiz.update_checklist',quiz_id=quiz.quiz_id, id=quiz.index_no)}}"
    >Update Post</a
  >
  <button
    type="button"
    class="btn btn-outline-danger btn-sm"
    data-toggle="modal"
    data-target="#deleteModal"
  >
    Delete Post
  </button>
</div>
{% endif %}
<div class="row mt-3 mb-5">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">{{ legend }}</div>
      <div class="card-body">
        <h2>{{quiz.title}}</h2>
        <div class="text-md-left">
          {% autoescape false %} {{quiz.question.replace('\n', '<br />')}} {%
          endautoescape %}
        </div>
        <form method="post" action="" enctype="multipart/form-data">
          {{ form.hidden_tag() }}
          <br />
          {% for subfield in form.correct_answer %}
          <tr>
            <td>{{ subfield }}</td>
            <td>{{ subfield.label }}</td>
          </tr>
          <br />
          {% endfor %} <br />{{ form.submit(class="btn btn-primary btn-sm")}}
        </form>
      </div>
      <div class="card-footer text-muted">
        {% include 'includes/_nextprevious.html' %}
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">{% include 'includes/_buttonlist.html' %}</div>
  </div>
</div>
<!-- for Delete Modal -->
<!-- for Delete Modal -->
<div
  class="modal fade"
  id="deleteModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="deleteModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete Writing</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <form
          action="{{ url_for('quiz.delete_checklist', quiz_id=quiz.quiz_id, id=quiz.index_no)}}"
          method="POST"
        >
          <input class="btn btn-danger" type="submit" value="Delete" />
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
