{% extends 'layout.html' %} {% block content %}
<div class="row justify-content-center mt-3">
  <div class="col-md-10">
    {% if current_user.is_authenticated %}
    <div class="col-md-13 text-md-right mb-3">
      <a
        type="button"
        class="btn btn-outline-primary btn-sm"
        href="{{ url_for('quiz.quiz_question', quiz_id=quiz.id)}}"
      >
        + Questions
      </a>
    </div>
    {% endif %}
    <div class="card mb-3">
      <div class="card-header">
        <h5>New Quiz Questions</h5>
      </div>
    </div>
    {% for quiz in quizs %}
    <div class="list-group">
      <a
        href="{{ url_for('quiz.show_quiz', quiz_id=quiz.id)}}"
        class="list-group-item list-group-item-action"
      >
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ quiz.name }}</h5>
          <small>
            {{ quiz.quiz.username }} - {{quiz.date_posted.strftime('%Y-%m-%d')
            }}</small
          >
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
