{% extends 'layout.html' %} {% block content %}
<div class="row justify-content-center mt-3 mb-5">
  <div class="col-md-10">
    {% if current_user.is_authenticated %}
    <div class="col-md-13 text-md-right mb-3">
      <a
        type="button"
        class="btn btn-outline-primary btn-sm"
        href="{{ url_for('quiz.quiz_question', quiz_id=quiz.id)}}"
      >
        + Questions
      </a>
    </div>
    {% endif %}
    <div class="card mb-3">
      <div class="card-header">
        <h5>New Quiz Questions</h5>
      </div>
    </div>
    {% for quiz_create in quiz_creates %} {% if quiz_create.toq == "short"%}
    <div class="list-group">
      <a
        href="{{ url_for('quiz.quiz_short_answer', quiz_id=quiz_create.quiz_id, id=quiz_create.id)}}"
        class="list-group-item list-group-item-action"
      >
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ quiz_create.title }}</h5>
          <small>
            {{ quiz_create.createquiz.username }} -
            {{quiz_create.date_posted.strftime('%Y-%m-%d') }}</small
          >
        </div>
      </a>
    </div>
    {% endif %} {% if quiz_create.toq == "checklist"%}
    <div class="list-group">
      <a
        href="{{ url_for('quiz.quiz_checklist_answer', quiz_id=quiz_create.quiz_id, id=quiz_create.id)}}"
        class="list-group-item list-group-item-action"
      >
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ quiz_create.title }}</h5>
          <small>
            {{ quiz_create.createquiz.username }} -
            {{quiz_create.date_posted.strftime('%Y-%m-%d') }}</small
          >
        </div>
      </a>
    </div>
    {% endif %} 
    {% if quiz_create.toq == "radio"%}
    <div class="list-group">
      <a
        href="{{ url_for('quiz.quiz_radio_answer', quiz_id=quiz_create.quiz_id, id=quiz_create.id)}}"
        class="list-group-item list-group-item-action"
      >
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ quiz_create.title }}</h5>
          <small>
            {{ quiz_create.createquiz.username }} -
            {{quiz_create.date_posted.strftime('%Y-%m-%d') }}</small
          >
        </div>
      </a>
    </div>
    {% endif %}
    {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
