{% extends 'layout.html' %} {% block content %}
<div class="row mt-3 mb-5">
  <div class="col-md-7">
    <div class="card">
      <div class="card-header">{{ legend }}</div>
      <div class="card-body">
        <h2>{{quiz.title}}</h2>
        <div class="text-md-left">
          {% autoescape false %} {{quiz.question.replace('\n', '<br />')}} {%
          endautoescape %}
        </div>
        <form method="post" action="" enctype="multipart/form-data">
          {{ form.hidden_tag() }} <br />{% for subfield in form.correct_answer
          %}
          <tr>
            <td>{{ subfield }}</td>
            <td>{{ subfield.label }}</td>
          </tr>
          <br />
          {% endfor %} <br />{{ form.submit(class="btn btn-primary btn-sm")}}
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="card">{% include 'includes/_buttonlist.html' %}</div>
  </div>
</div>
{% endblock content %}
