{% extends 'layout.html' %} {% block content %}
<div class="row justify-content-center mt-3 mb-5">
  <div class="col-md-10">
    <div class="card">
      <div class="card-header">{{ legend }}</div>
      <div class="card-body">
        <h1>{{quiz.title}}</h1>
        <div class="text-md-left">
          {% autoescape false %} {{quiz.question.replace('\n', '<br />')}} {%
          endautoescape %}
        </div>
        <form method="post" action="" enctype="multipart/form-data">
          {{ form.hidden_tag() }} <br />
          {% if form.correct_answer.errors %}
          {{form.correct_answer(class="form-control col-md-5 is-invalid")}}
          <div class="invaild-feedback col-md-3 text-danger">
            {% for error in form.correct_answer.errors %}
            <small>{{ error }}</small>
            {% endfor %} {% else %} {{ form.correct_answer(class_="form-control
            col-md-5")}} {% endif %} <br />{{ form.submit(class="btn
            btn-primary")}}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
