{% extends 'layout.html' %} {% block content %}
<div class="row justify-content-center mt-3">
  <div class="col-md-10">
    {% if current_user.is_authenticated %}
    <div class="col-md-13 text-md-right mb-3">
      <a type="button" class="btn btn-outline-primary btn-sm" href="/quiz/new">
        + Question Paper
      </a>
    </div>
    {% endif %}
    <div class="card mb-3">
      <div class="card-header">
        <h5>New Quiz Question Papers</h5>
      </div>
    </div>
    {% include 'includes/_quiznavbar.html' %}
    <div class="card mb-3" style="background-color: #e3f2fd">
      <div class="card-header">
        <h5>Writing Grammar Papers</h5>
      </div>
      <div class="mt-1">
        <div class="card-body">
          <h6 class="card-text">Advanced Grammar Papers</h6>
        </div>
        {% for quiz_create in quiz_creates %} {% if quiz_create.qcreatequiz.toq
        == "writing" %} {% if quiz_create.qcreatequiz.gandco == "grammar" and
        quiz_create.qcreatequiz.userbased == 'advanced'%} {% include
        'includes/_paper_list.html' %} {% endif %} {% endif %} {% endfor %}
      </div>
      <div class="mt-1">
        <div class="card-body">
          <h6 class="card-text">Intermediate Grammar Papers</h6>
        </div>
        {% for quiz_create in quiz_creates %} {% if quiz_create.qcreatequiz.toq
        == "writing" %} {% if quiz_create.qcreatequiz.gandco == "grammar" and
        quiz_create.qcreatequiz.userbased == 'intermediate'%} {% include
        'includes/_paper_list.html' %} {% endif %} {% endif %} {% endfor %}
      </div>
      <div class="mt-1">
        <div class="card-body">
          <h6 class="card-text">Preliminary Grammar Papers</h6>
        </div>
        {% for quiz_create in quiz_creates %} {% if quiz_create.qcreatequiz.toq
        == "writing" %} {% if quiz_create.qcreatequiz.gandco == "grammar" and
        quiz_create.qcreatequiz.userbased == 'preliminary'%} {% include
        'includes/_paper_list.html' %} {% endif %} {% endif %} {% endfor %}
      </div>
    </div>
    <div class="card mb-3" style="background-color: #e3f2fd">
      <div class="card-header">
        <h5>Writing Cohesion Papers</h5>
      </div>
      <div class="mt-1">
        <div class="card-body">
          <h6 class="card-text">Advanced Cohesion Papers</h6>
        </div>
        {% for quiz_create in quiz_creates %} {% if quiz_create.qcreatequiz.toq
        == "writing" %} {% if quiz_create.qcreatequiz.gandco == "cohesion" and
        quiz_create.qcreatequiz.userbased == 'advanced'%} {% include
        'includes/_paper_list.html' %} {% endif %} {% endif %} {% endfor %}
        <div class="card-body">
          <h6 class="card-text">Intermediate Cohesion Papers</h6>
        </div>
        {% for quiz_create in quiz_creates %} {% if quiz_create.qcreatequiz.toq
        == "writing" %} {% if quiz_create.qcreatequiz.gandco == "cohesion" and
        quiz_create.qcreatequiz.userbased == 'intermediate'%} {% include
        'includes/_paper_list.html' %} {% endif %} {% endif %} {% endfor %}
        <div class="card-body">
          <h6 class="card-text">Preliminary Cohesion Papers</h6>
        </div>
        {% for quiz_create in quiz_creates %} {% if quiz_create.qcreatequiz.toq
        == "writing" %} {% if quiz_create.qcreatequiz.gandco == "cohesion" and
        quiz_create.qcreatequiz.userbased == 'preliminary'%} {% include
        'includes/_paper_list.html' %} {% endif %} {% endif %} {% endfor %}
      </div>
    </div>
    <div class="card mb-3" style="background-color: #e3f2fd">
      <div class="card-header">
        <h5>Writing Papers</h5>
      </div>
      <div class="mt-1">
        <div class="card-body">
          <h6 class="card-text">Advanced Writing Papers</h6>
        </div>
        {% for quiz_create in quiz_creates %} {% if quiz_create.qcreatequiz.toq
        == "writing" %} {% if quiz_create.qcreatequiz.gandco == "none" and
        quiz_create.qcreatequiz.userbased == 'advanced'%} {% include
        'includes/_paper_list.html' %} {% endif %} {% endif %} {% endfor %}
        <div class="card-body">
          <h6 class="card-text">Intermediate Writing Papers</h6>
        </div>
        {% for quiz_create in quiz_creates %} {% if quiz_create.qcreatequiz.toq
        == "writing" %} {% if quiz_create.qcreatequiz.gandco == "none" and
        quiz_create.qcreatequiz.userbased == 'intermediate'%} {% include
        'includes/_paper_list.html' %} {% endif %} {% endif %} {% endfor %}
        <div class="card-body">
          <h6 class="card-text">Preliminary Writing Papers</h6>
        </div>
        {% for quiz_create in quiz_creates %} {% if quiz_create.qcreatequiz.toq
        == "writing" %} {% if quiz_create.qcreatequiz.gandco == "none" and
        quiz_create.qcreatequiz.userbased == 'preliminary'%} {% include
        'includes/_paper_list.html' %} {% endif %} {% endif %} {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock content %}
