{% extends 'layout.html' %} {% block content %}
<div class="row justify-content-center mt-3 mb-3">
  <div class="col-md-10">
    <div class="card mb-3">
      <div class="card-header">
        <h5>IELTS Speaking Question Paper</h5>
      </div>
      <div class="card-body">
        <h5 style="color: red">
          *** Please go to the account tab see all the Results of your speaking
          exams ***
        </h5>
        <br />
        <form method="post" action="" enctype="multipart/form-data">
          <h6>Question 01</h6>
          <audio controls controlslist="nodownload">
            <source
              src="{{url_for('static', filename='audio/' + speaking.question_01) }}"
              type="audio/mpeg"
            />
          </audio>
          {{form.record1(class="btn btn-primary btn-sm")}} <br />
          <h6>Answer for Question 01</h6>
          {{answer_speak[-1].answer01}} <br /><br /><br />
          <h6>Question 02</h6>
          <audio controls controlslist="nodownload">
            <source
              src="{{url_for('static', filename='audio/' + speaking.question_02) }}"
              type="audio/mpeg"
            />
          </audio>
          {{ form.record2(class="btn btn-primary btn-sm")}}
          <h6>Answer for Question 02</h6>
          {{answer_speak[-1].answer02}}<br /><br /><br />
          <h6>Question 03</h6>
          <audio controls controlslist="nodownload">
            <source
              src="{{url_for('static', filename='audio/' + speaking.question_03) }}"
              type="audio/mpeg"
            />
          </audio>
          {{ form.record3(class="btn btn-primary btn-sm")}}
          <h6>Answer for Question 03</h6>
          {{answer_speak[-1].answer03}}<br /><br /><br />
          <h6>Question 04</h6>
          <audio controls controlslist="nodownload">
            <source
              src="{{url_for('static', filename='audio/' + speaking.question_04) }}"
              type="audio/mpeg"
            />
          </audio>
          {{ form.record4(class="btn btn-primary btn-sm")}}
          <h6>Answer for Question 04</h6>
          {{answer_speak[-1].answer04}}<br /><br /><br />
          <h6>Question 05</h6>
          <audio controls controlslist="nodownload">
            <source
              src="{{url_for('static', filename='audio/' + speaking.question_05) }}"
              type="audio/mpeg"
            />
          </audio>
          {{ form.record5(class="btn btn-primary btn-sm")}}
          <h6>Answer for Question 05</h6>
          {{answer_speak[-1].answer05}}<br /><br /><br />
          <br />
          {{ form.submit(class="btn btn-primary btn-sm")}}
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
