{% extends 'layout.html'%} {% block content %}
<div class="container mt-3">
  <div class="container mt-3">
    <div class="card mb-3" style="background-color: #e3f2fd">
      <div class="card-header">
        <h5>Writing</h5>
      </div>
    </div>
    <div class="card-group mb-3">
      <div class="card" style="background-color: #e3f2fd">
        <div class="card-header">Grammar <b style="color: red">(Out of 25)</b></div>
        <div class="card-body text-danger">
          <h5 class="card-title">{{ writing.grammar}}</h5>
        </div>
      </div>
      <div class="card" style="background-color: #e3f2fd">
        <div class="card-header">Cohesion <b style="color: red">(Out of 25)</b></div>
        <div class="card-body text-danger">
          <h5 class="card-title">{{ writing.cohesion}}</h5>
          <p class="card-text"></p>
        </div>
      </div>
      <div class="card" style="background-color: #e3f2fd">
        <div class="card-header">Similarity <b style="color: red">(Out of 100)</b></div>
        <div class="card-body text-danger">
          <h5 class="card-title">{{ writing.similarity}}</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="card mb-3 bg-info">
      <div class="card-header text-light">
        <h5>User Improvement Paper</h5>
      </div>
      <div class="mt-1">
        <div class="card-body">
          <h6 class="card-text text-light">Grammar Papers
        </div>
        {% for quiz_create in quiz_creates %} {% if quiz_create.qcreatequiz.toq
        == "writing" %} {% if grammerActivity == 0 and
        quiz_create.qcreatequiz.userbased == 'advanced' and
        quiz_create.qcreatequiz.gandco == 'grammar'%} {% include
        'includes/_paper_list.html' %} {% endif %} {% if grammerActivity == 1
        and quiz_create.qcreatequiz.userbased == 'intermediate' and
        quiz_create.qcreatequiz.gandco == 'grammar'%}
        {% include 'includes/_paper_list.html' %} {% endif %} {% if
        grammerActivity == 2 and quiz_create.qcreatequiz.userbased ==
        'preliminary' and quiz_create.qcreatequiz.gandco == 'grammar'%}
        {% include 'includes/_paper_list.html' %} {% endif %} {% endif %} {% endfor %}
        <div class="card-body">
          <h6 class="card-text text-light">Cohesion Papers</h6>
        </div>
        {% for quiz_create in quiz_creates %} {% if quiz_create.qcreatequiz.toq
        == "writing" %} {% if cohesionActivity == 0 and
        quiz_create.qcreatequiz.userbased == 'advanced' and
        quiz_create.qcreatequiz.gandco == 'cohesion'%} {% include
        'includes/_paper_list.html' %} {% endif %} {% if cohesionActivity == 1
        and quiz_create.qcreatequiz.userbased == 'intermediate' and
        quiz_create.qcreatequiz.gandco == 'cohesion'%} {% include
        'includes/_paper_list.html' %} {% endif %} {% if cohesionActivity == 2
        and quiz_create.qcreatequiz.userbased == 'preliminary' and
        quiz_create.qcreatequiz.gandco == 'cohesion'%} {% include
        'includes/_paper_list.html' %} {% endif %} {% endif %} {% endfor %}
        <div class="card-body">
          <h6 class="card-text text-light">Normal Writing Papers</h6>
        </div>
        {% for quiz_create in quiz_creates %} {% if quiz_create.qcreatequiz.toq
        == "writing" %} {% if quiz_create.qcreatequiz.userbased == 'advanced'
        and quiz_create.qcreatequiz.gandco == 'none'%} {% include
        'includes/_paper_list.html' %} {% endif %} {% if
        quiz_create.qcreatequiz.userbased == 'intermediate' and
        quiz_create.qcreatequiz.gandco == 'none'%} {% include
        'includes/_paper_list.html' %} {% endif %} {% if
        quiz_create.qcreatequiz.userbased == 'preliminary' and
        quiz_create.qcreatequiz.gandco == 'none'%} {% include
        'includes/_paper_list.html' %} {% endif %} {% endif %} {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
