{% extends 'layout.html'%} {% block content %}
<div class="container mt-3">
  <div class="container mt-3">
    <div class="card mb-3">
      <div class="card-header">
        <h5>
          writing
          <a
            href="/writing/evaluate"
            class="btn btn-primary btn-sm float-right"
            onclick="return confirm('Are you sure to re evaluate study plan?')"
            >Evaluate study plan</a
          >
        </h5>
      </div>
    </div>
    <div class="card-group mb-3">
      <div class="card">
        <div class="card-header">Grammar</div>
        <div class="card-body text-info">
          <h5 class="card-title">{{ writing.grammar}}</h5>
        </div>
      </div>
      <div class="card">
        <div class="card-header">Cohesion</div>
        <div class="card-body text-info">
          <h5 class="card-title">{{ writing.cohesion}}</h5>
          <p class="card-text"></p>
        </div>
      </div>
      <br />
      <div class="card">
        <div class="card-header">Similarity</div>
        <div class="card-body text-info">
          <h5 class="card-title">{{ writing.similarity}}</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    {% for quiz in quizs %} {% for quiz_create in quiz_creates %}
    <div class="list-group">
      {% if quiz_create.toq == "checklist"%}
      <a
        href="{{ url_for('quiz.quiz_checklist_answer', quiz_id=quiz.id, id=quiz_create.index_no)}}"
        class="list-group-item list-group-item-action"
      >
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ quiz.name }}</h5>
          <small>
            {{ quiz.quiz.username }} - {{quiz.date_posted.strftime('%Y-%m-%d')
            }}</small
          >
        </div>
      </a>
      {% endif %} {% if quiz_create.toq == "short"%}
      <a
        href="{{ url_for('quiz.quiz_short_answer', quiz_id=quiz.id, id=quiz_create.index_no)}}"
        class="list-group-item list-group-item-action"
      >
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ quiz.name }}</h5>
          <small>
            {{ quiz.quiz.username }} - {{quiz.date_posted.strftime('%Y-%m-%d')
            }}</small
          >
        </div>
      </a>
      {% endif %}{% if quiz_create.toq == "radio"%}
      <a
        href="{{ url_for('quiz.quiz_radio_answer', quiz_id=quiz.id, id=quiz_create.index_no)}}"
        class="list-group-item list-group-item-action"
      >
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ quiz.name }}</h5>
          <small>
            {{ quiz.quiz.username }} - {{quiz.date_posted.strftime('%Y-%m-%d')
            }}</small
          >
        </div>
      </a>
      {% endif %} {% endfor %}
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
