<div class="card-header">{{ legend }}</div>
<div class="card-body">
  <div class="btn-group mb-3" role="group" aria-label="First group">
    {% for quize in quizes %} {% if quize.id < 10 and quize.quiz_id ==
    quiz.quiz_id%} {% if quize.toq == "radio"%}
    <a
      class="btn btn-info mr-2 btn-sm"
      href="{{ url_for('quiz.quiz_radio_answer', quiz_id=quize.quiz_id, id=quize.id) }}"
      >{{ quize.id}}</a
    >
    {% endif %} {% if quize.toq == "checklist"%}
    <a
      class="btn btn-info mr-2 btn-sm"
      href="{{ url_for('quiz.quiz_checklist_answer', quiz_id=quize.quiz_id, id=quize.id) }}"
      >{{quize.id}}</a
    >
    {% endif %} {% if quize.toq == "short"%}
    <a
      class="btn btn-info mr-2 btn-sm"
      href="{{ url_for('quiz.quiz_short_answer', quiz_id=quize.quiz_id, id=quize.id) }}"
      >{{quize.id}}</a
    >
    {% endif %} {% endif %}{% endfor %}
  </div>
  <div class="btn-group mb-3" role="group" aria-label="First group">
    {% for quize in quizes %} {% if quize.id > 9 and quize.id <19 and
    quize.quiz_id == quiz.quiz_id%} {% if quize.toq == "radio"%}
    <a
      class="btn btn-info mr-1 btn-sm"
      href="{{ url_for('quiz.quiz_radio_answer', quiz_id=quize.quiz_id, id=quize.id) }}"
      >{{ quize.id}}</a
    >
    {% endif %} {% if quize.toq == "checklist"%}
    <a
      class="btn btn-info mr-1 btn-sm"
      href="{{ url_for('quiz.quiz_checklist_answer', quiz_id=quize.quiz_id, id=quize.id) }}"
      >{{quize.id}}</a
    >
    {% endif %} {% if quize.toq == "short"%}
    <a
      class="btn btn-info mr-1 btn-sm"
      href="{{ url_for('quiz.quiz_short_answer', quiz_id=quize.quiz_id, id=quize.id) }}"
      >{{quize.id}}</a
    >
    {% endif %} {% endif %} {% endfor %}
  </div>
  <div class="btn-group mb-3" role="group" aria-label="First group">
    {% for quize in quizes %} {% if quize.id > 18 and quize.id <28 and
    quize.quiz_id == quiz.quiz_id%} {% if quize.toq == "radio"%}
    <a
      class="btn btn-info mr-1 btn-sm"
      href="{{ url_for('quiz.quiz_radio_answer', quiz_id=quize.quiz_id, id=quize.id) }}"
      >{{ quize.id}}</a
    >
    {% endif %} {% if quize.toq == "checklist"%}
    <a
      class="btn btn-info mr-1 btn-sm"
      href="{{ url_for('quiz.quiz_checklist_answer', quiz_id=quize.quiz_id, id=quize.id) }}"
      >{{quize.id}}</a
    >
    {% endif %} {% if quize.toq == "short"%}
    <a
      class="btn btn-info mr-1 btn-sm"
      href="{{ url_for('quiz.quiz_short_answer', quiz_id=quize.quiz_id, id=quize.id) }}"
      >{{quize.id}}</a
    >
    {% endif %} {% endif %} {% endfor %}
  </div>
  <div class="btn-group mb-3" role="group" aria-label="First group">
    {% for quize in quizes %} {% if quize.id > 27 and quize.id <37 and
    quize.quiz_id == quiz.quiz_id%} {% if quize.toq == "radio"%}
    <a
      class="btn btn-info mr-1 btn-sm"
      href="{{ url_for('quiz.quiz_radio_answer', quiz_id=quize.quiz_id, id=quize.id) }}"
      >{{ quize.id}}</a
    >
    {% endif %} {% if quize.toq == "checklist"%}
    <a
      class="btn btn-info mr-1 btn-sm"
      href="{{ url_for('quiz.quiz_checklist_answer', quiz_id=quize.quiz_id, id=quize.id) }}"
      >{{quize.id}}</a
    >
    {% endif %} {% if quize.toq == "short"%}
    <a
      class="btn btn-info mr-1 btn-sm"
      href="{{ url_for('quiz.quiz_short_answer', quiz_id=quize.quiz_id, id=quize.id) }}"
      >{{quize.id}}</a
    >
    {% endif %} {% endif %} {% endfor %}
  </div>
  <div class="btn-group mb-3" role="group" aria-label="First group">
    {% for quize in quizes %} {% if quize.id > 36 and quize.id < 41 and
    quize.quiz_id == quiz.quiz_id%} {% if quize.toq == "radio"%}
    <a
      class="btn btn-info mr-1 btn-sm"
      href="{{ url_for('quiz.quiz_radio_answer', quiz_id=quize.quiz_id, id=quize.id) }}"
      >{{ quize.id}}</a
    >
    {% endif %} {% if quize.toq == "checklist"%}
    <a
      class="btn btn-info mr-1 btn-sm"
      href="{{ url_for('quiz.quiz_checklist_answer', quiz_id=quize.quiz_id, id=quize.id) }}"
      >{{quize.id}}</a
    >
    {% endif %} {% if quize.toq == "short"%}
    <a
      class="btn btn-info mr-1 btn-sm"
      href="{{ url_for('quiz.quiz_short_answer', quiz_id=quize.quiz_id, id=quize.id) }}"
      >{{quize.id}}</a
    >
    {% endif %} {% endif %} {% endfor %}
  </div>
</div>
