<ul class="nav nav-pills mb-3">
  <li class="nav-item active">
    <a class="nav-link checked" href="{{ url_for('quiz.quiz_write')}}"
      >Writing</a
    >
  </li>
  <li class="nav-item active">
    <a class="nav-link checked" href="{{ url_for('quiz.quiz_read')}}"
      >Reading</a
    >
  </li>
  <li class="nav-item active">
    <a class="nav-link checked" href="{{ url_for('quiz.quiz_listen')}}"
      >Listening</a
    >
  </li>
  <li class="nav-item active">
    <a class="nav-link checked" href="{{ url_for('quiz.quiz_speak')}}"
      >Speaking</a
    >
  </li>
</ul>
